@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

@import url('./scrollbar.css') layer(utilities);

@config '../../tailwind.config.ts';


/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: #101010;
    ;
    /* @apply border-neutral-300; */
  }
}

@utility no-scrollbar {

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@layer utilities {

  body,
  html {
    height: 100%;
    overflow: hidden;
  }

  :root {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);

    --yellow-gradient: linear-gradient(0deg, #ffd001 0%, #fffc9d 100%);
    --yellow-gradient-box: linear-gradient(0deg, #ffd001 0%, #fff808 100%);
    --skeleton-gradient: linear-gradient(138deg,
        #232323 14.32%,
        #656565 126.83%);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgb(var(--text-inverted-secondary)) inset !important;
    -webkit-text-fill-color: rgb(var(--text-default-primary)) !important;
    color: rgb(var(--text-default-primary)) !important;
    caret-color: rgb(var(--text-default-primary)) !important;
  }

  .top-safe {
    top: var(--sat, 0px);
  }
}